FORMAT: 1A
HOST: http://docs.janabimustafa.apiary.io/

# RocketLeagueDB API

Rocket League Database (RLDB) is an API allowing players and fans to obtain information about in-game items.

## Paint [/paint/{name}]
### Get a Paint Finish [GET]

+ Response 200 (application/json)

        {
            "id": 0,
            "name": "Circuit Board",
            "type": "paint",
            "rarity": "rare",
            "source": "crate",
            "crate": 0,
            "release_date": "2017-07-05",
            "decals": [1, 2, 3, 4, 5]
        }


## Body [/body/{name}]
### Get a Body [GET]

+ Response 200 (application/json)

        {
            "id": 0,
            "name": "Backfire",
            "type": "body",
            "rarity": "common",
            "source": "body",
            "release_date": "2015-07-07",
            "decals": [1, 2, 3, 4, 5]
        }


## Decal [/decal/{name}]
### Get a Decal [GET]

+ Response 200 (application/json)

        {
            "id": 0,
            "name": "Funny Book",
            "type": "decal",
            "rarity": "rare",
            "source": "crate",
            "crate": 0,
            "is_animated": false,
            "is_paintable": true,
            "bodyies": [1, 2, 3, 4, 5]
        }

    
## Crate [/crate/{name}]
### Get a Crate [GET]

+ Response 200 (application/json)

        {
            "id": 0,
            "name": "Turbo",
            "type": "crate",
            "rarity": "rare",
            "source": "drop",
            "release_date": "2017-03-22",
            "retire_date": null,
            "items": [1, 2, 3, 4, 5]
        }

        
## DLC [/dlc/{name}]
### Get a DLC [GET]

+ Response 200 (application/json)

        {
            "id": 0,
            "name": "Supersonic Fury",
            "type": "DLC",
            "release_date": "2015-08-13",
            "items": [1, 2, 3, 4, 5]
        }

## ID [/id/{id}]
### Get an Object by ID [GET]

+ Response 200 (application/json)

        {
            "id": 0,
            "name": "Backfire",
            "type": "body",
            "rarity": "common",
            "source": "body",
            "release_date": "2015-07-07",
            "decals": [1, 2, 3, 4, 5]
        }
        
## Player_ID [/player_id/{id}]
### Get a Player by ID [GET]

+ Response 200 (application/json)

        {
            "id": 76561198067659334,
            "name": "Kaydop",
            "type": "player",
            "platform": "steam",
            "2v2_skill_rating": [0, 1626, 1587, 1622, 2123],
            "2v2_rank": 1,
            "wins": 5181
        }

      
## Player_Name [/player_name/{name}]
### Get a Player by ID [GET]

+ Response 200 (application/json)

        {
            "id": 76561198067659334,
            "name": "Kaydop",
            "type": "player",
            "platform": "steam",
            "2v2_skill_rating": [0, 1626, 1587, 1622, 2123],
            "2v2_rank": 1,
            "wins": 5181
        }