.splash {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin-top: -8%;
    z-index: -999;
}

.light-text {
    color: #dddddd;
}

.dark-text {
    color: #141414;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

.text-container {
    vertical-align: middle;
}

.cover-img { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }